---
import heroImage from '@/assets/images/hero-services.png';
import { Button } from '@/components/ui/button';
import { ROUTES } from '@/constants/navigation';
import { SERVICES_HERO_SECTION } from '@/constants/ui-texts/services';
---

<section class="w-screen h-[80vh] overflow-hidden bg-black px-4 py-8">
	<div class="w-full h-full max-w-5xl mx-auto relative">
		<img
			alt={SERVICES_HERO_SECTION.heroImageAlt}
			class="absolute w-full top-1/2 -translate-y-1/2 sm:right-0 sm:w-3/5 object-contain"
			src={heroImage.src}
			transition:name="hero-image"
		/>

		<div
			class="relative z-10 flex items-end justify-start sm:items-center h-full"
		>
			<div
				class="hidden lg:block absolute blur-3xl w-full h-full bg-black/90 rounded-full max-w-2xl"
			>
			</div>
			<div
				class="mx-auto sm:mx-0 z-10 inline-flex flex-col items-center sm:items-start gap-4 max-w-sm lg:max-w-lg text-center sm:text-left"
			>
				<h1
					class="w-fit font-bold text-neutral-50 text-3xl sm:text-4xl lg:text-5xl"
				>
					{SERVICES_HERO_SECTION.title}
				</h1>

				<p
					class="text-lg sm:text-xl lg:text-2xl text-neutral-500 drop-shadow-sm font-bold"
				>
					{SERVICES_HERO_SECTION.subtitle}
				</p>

				<a href={ROUTES.CONTACT.href}>
					<Button className="mt-4">
						{SERVICES_HERO_SECTION.primaryButton}
					</Button>
				</a>
			</div>
		</div>
	</div>
</section>
