---
import { Button } from '@/components/ui/button';
import { ROUTES } from '@/constants/navigation';
import { CONTACT_LINKS } from '@/constants/ui-texts/global';
import { SERVICES_CTAS_SECTION } from '@/constants/ui-texts/services';
---

<section
	class="flex flex-col items-center gap-2.5 bg-black text-neutral-50 px-2"
>
	<div
		class="relative grid grid-cols-1 grid-rows-2 sm:grid-cols-3 sm:grid-rows-1 w-full max-w-5xl border border-t-0 border-neutral-900 rounded-b"
	>
		<!-- Decorative dashed columns -->
		<div
			class="w-full h-full absolute grid grid-cols-2 sm:grid-cols-3 grid-rows-2 sm:grid-rows-1"
		>
			<div
				class="border-b border-neutral-900 border-dashed sm:border-b-0"
			>
			</div>
			<div
				class="border-l border-b border-neutral-900 border-dashed sm:border-b-0"
			>
			</div>
			<div class="sm:hidden"></div>
			<div class="border-l border-neutral-900 border-dashed"></div>
		</div>

		<!-- Left block -->
		<div
			class="col-span-2 relative z-10 flex flex-col items-center sm:items-start px-4 py-16 md:px-8"
		>
			<h2 class="text-2xl font-semibold text-zinc-50 text-center">
				{SERVICES_CTAS_SECTION.mainCTA.title}
			</h2>
			<p
				class="block text-neutral-400 text-lg font-normal text-center sm:text-left"
			>
				{SERVICES_CTAS_SECTION.mainCTA.description}
			</p>

			<div class="flex flex-wrap items-center gap-4 pt-4">
				<a href={ROUTES.CONTACT.href}>
					<Button>
						{SERVICES_CTAS_SECTION.mainCTA.primaryButton}
					</Button>
				</a>
				<a
					href={CONTACT_LINKS.whatsapp.url}
					rel="noopener noreferrer"
					target="_blank"
				>
					<Button variant="outline">
						{CONTACT_LINKS.whatsapp.label}
					</Button>
				</a>
			</div>
		</div>

		<!-- Right block -->
		<div
			class="col-span-1 z-10 flex flex-col items-center justify-center sm:items-start px-4 py-16 md:px-8 sm:justify-start gap-4"
		>
			<h2
				class="text-lg font-semibold text-neutral-500 text-center sm:text-left"
			>
				{SERVICES_CTAS_SECTION.partnershipCTA.title}
			</h2>

			<a href={ROUTES.CONTACT.href}>
				<Button variant="outline">
					{SERVICES_CTAS_SECTION.partnershipCTA.button}
				</Button>
			</a>
		</div>
	</div>
</section>
