---
// CTAs section component for the Home Cinema application.
// Features call-to-action buttons for consultation, WhatsApp, and phone contact.
import Image from 'astro/components/Image.astro';

import image from '@/assets/images/projects/CTAs.png';
import { Button } from '@/components/ui/button';
import { ROUTES } from '@/constants/navigation';
import { CONTACT_LINKS } from '@/constants/ui-texts/global';
import { PROJECTS_CTAS_SECTION } from '@/constants/ui-texts/projects';

const buttons = [
	{
		text: PROJECTS_CTAS_SECTION.buttons[0].text,
		variant: PROJECTS_CTAS_SECTION.buttons[0].variant,
		href: ROUTES.CONTACT.href,
	},
	{
		text: PROJECTS_CTAS_SECTION.buttons[1].text,
		variant: PROJECTS_CTAS_SECTION.buttons[1].variant,
		className: 'hidden md:flex',
		href: CONTACT_LINKS.whatsapp.url,
		target: '_blank',
		rel: 'noopener noreferrer',
	},
	{
		text: PROJECTS_CTAS_SECTION.buttons[2].text,
		variant: PROJECTS_CTAS_SECTION.buttons[2].variant,
		href: CONTACT_LINKS.phone.url,
	},
];
---

<section
	class="flex flex-col items-center justify-center gap-2.5 px-4 py-24 relative overflow-hidden"
>
	<Image
		alt="Home Cinema CTAs"
		class="w-full h-[150%] sm:h-full top-0 object-cover absolute brightness-50"
		height={image.height}
		src={image.src}
		width={image.width}
	/>

	<h2
		class="z-10 font-bold text-white text-2xl sm:text-3xl lg:text-4xl text-center"
	>
		{PROJECTS_CTAS_SECTION.heading}
	</h2>

	<p class="z-10 font-bold text-neutral-400 text-lg text-center">
		{PROJECTS_CTAS_SECTION.subtitle}
	</p>

	<div class="z-10 flex items-start gap-4 mt-6">
		{
			buttons.map((button) => (
				<a href={button.href} rel={button.rel} target={button.target}>
					<Button
						className={button.className}
						variant={button.variant}
					>
						{button.text}
					</Button>
				</a>
			))
		}
	</div>
</section>
