---
import { Button } from '@/components/ui/button';
import { ROUTES } from '@/constants/navigation';
import { HOME_PARTNERS_SECTION } from '@/constants/ui-texts/home';

// Componente Partners migrado de React a Astro
---

<section
	class="relative flex flex-col items-center justify-center gap-14 px-4 py-24 bg-black"
>
	<div
		class="bg-white/7 w-3xl h-96 absolute left-1/2 -translate-x-1/2 blur-3xl rounded-t-full"
	>
	</div>

	<p class="z-10 text-neutral-500 text-xl font-bold">
		{HOME_PARTNERS_SECTION.tagline}
	</p>

	<h2
		class="z-10 text-center text-white text-2xl sm:text-3xl lg:text-4xl font-bold"
	>
		{HOME_PARTNERS_SECTION.title}
	</h2>

	<p class="z-10 max-w-3xl sm:text-xl text-center font-medium">
		<span class="text-neutral-500">
			{HOME_PARTNERS_SECTION.description.part1}{' '}
		</span>
		<span class="text-white">
			{HOME_PARTNERS_SECTION.description.highlight}
		</span>
		<span class="text-neutral-500">
			{HOME_PARTNERS_SECTION.description.part2}
		</span>
	</p>

	<a class="z-10" href={ROUTES.CONTACT.href}>
		<Button>{HOME_PARTNERS_SECTION.buttonText}</Button>
	</a>
</section>
